<body>
    <a href="/">Index</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>My First Astro Project</h1>
    <h2>... my new astro web site</h2>

    <p>
        I'm solving an Astro tutorial. This is the second page on my web site,
        and the first one I built my self
    </p>

    <p>
        This web site will be updated while I complete this tutorial, so keep
        checking and see how my journey is going.
    </p>
</body>
