<body>
    <a href="/">Index</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>My astro web site</h1>
    <h2>My blog about astro</h2>
    <p>Here is where I'll post about my journey learning astro.</p>
    <ul>
        <li><a href="/posts/post-1/">Firts Post</a></li>
    </ul>
</body>
